body {background-color: black; color: white; margin: 0px; transition-duration: 2s;}
h1 {text-align: center; font-size: 4em; font-family: 'Roboto', sans-serif;}
button {
    width: 80%; 
    display: block; 
    margin: 30px auto; 
    padding: 20px; 
    color: white;
    font-family: 'Roboto', sans-serif; 
    font-size: 2em;
    font-weight: bolder;
    background: transparent;
    border: 3px solid white;
    outline: none;
}
button:active {transform: translateY(5px);}